#mi-perfil-cont{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-tarjeta{
    background-color: var(--fondo-superficie, #fff);
    color: var(--texto-principal, #222);

    border-radius: 1rem;
    box-shadow: 0 4px 12px var(--sombra);

    overflow: hidden;
    animation: aparecer 0.25s ease-out;
    
    width: 100%;
    max-width: 90%;

    display: flex;
    flex-direction:column;
    margin: 1rem auto;
    padding: .2rem 2rem 1rem 2rem;
}

/* Animacion cada vez que se carga el contenedor */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/*=====TITULO PRINCIPAL=====*/
#titulo{
  padding: 0 2rem 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo h1 {
  text-align: center;
  margin-top: 0.65rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--colorBoton, #0077b6);
  position: relative;
  letter-spacing: 0.5px;
}
    /* linea inferior del titulo */
#titulo h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    var(--colorBoton, #0077b6),
    var(--color-acento, #00b4d8)
  );
  margin: 0.80rem auto 0;
  opacity: 0.9;
}

/* ========================BOTON VOVLERr ======================== */

#botoneraSuperior {
  display: flex;
  justify-content: flex-start;
  padding: 0.8rem 1rem 0rem 1rem;
}

#btnVolver {
    background-color: transparent;
    color: var(--texto-principal, #444);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border: none;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    transition: all 0.15s ease;
}

#btnVolver:hover {
    background-color: var(--fondo-suave, rgba(0, 0, 0, 0.06));
    transform: scale(1.04);
}

/* ===== Línea decorativa debajo ===== */
#btnVolver::after {
    content: "";
    display: block;
    width: 60%;
    height: 1.8px;
    border-radius: 3px;
    background: linear-gradient(90deg, #555555, #555555);
    margin: 0.18rem auto 0;
    opacity: 0.85;
    transition: width 0.25s ease, opacity 0.25s ease;
}

/* Efecto hover: la línea crece y se intensifica */
#btnVolver:hover::after {
  width: 85%;
  opacity: 1;
}

/*============== INFO SUPERIOR ==============*/
#info-superior {
  display: flex;
  align-items: center;    
  justify-content: space-between;

  padding: 0px 1rem 0 1.6rem;
  margin-bottom: 10px;
}

#info-superior h2{
  user-select: none;

  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  white-space: nowrap;

  margin-left: 1.3rem;
  line-height: 1;
}

/*=========== BOTONES =============*/
#botonera{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.15rem;
  
}

.boton{
  display: flex;
  align-items: center;
  justify-content: center;     

  padding: 0.4rem 1rem;
  min-width: 100px;

  border: none;
  border-radius: 1.3rem;
  
  font-weight: 500;  
  font-size: 0.85rem;

  text-transform: uppercase; 
  text-align: center;  
  color: var(--texto-boton-buscar);
  
  cursor: pointer;
  box-shadow: 0 4px 8px var(--sombra); 

  transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s ease; 
}

  /*Boton Editar*/
#btn-editar {
  background-color: var(--colorBoton);
  transform: scale(1.03);
}

#btn-editar:hover {
  background-color: var(--colorBotonHover);  
  box-shadow: 0 8px 16px var(--sombra);  
  transform: translateY(-2px);  
}

#btn-editar:disabled {
  background-color: var(--boton-primario-deshabilitado, #a0c4d9);
  cursor: not-allowed;
  transform: none;
}

  /*Boton Cambiar Pass*/
#btn-pass {
  background-color: var(--colorBotonEliminar);
  transform: scale(1.03);
}

#btn-pass:hover {
  background-color: var(--colorBotonEliminarHover); 
  box-shadow: 0 8px 16px var(--sombra);  
  transform: translateY(-2px);  
}

#btn-pass:disabled {
  background-color: var(--boton-eliminar-deshabilitado, #ce7171);
  cursor: not-allowed;
  transform: none;
}
/*=========== CONTENIDO ROLES =============*/
#roles-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;    
  justify-content: baseline;

  margin-left: 1.5rem;
  gap: 8px;
  padding: 8px 0;
  user-select: none;

  padding: 0px 1rem 0 1.3rem;
}

/* Píldora */
.burbuja-rol {
  position: relative;
  display: inline-flex;
  align-items: center;

  padding: 0.30rem 0.80rem;
  background: var(--fondo-suave);
  border-radius: 999px;

  border: 1px solid var(--borde-suave);
  box-shadow: 0 1px 2px var(--sombra);

  color: var(--texto-principal);
  font-size: .78rem;
  font-weight: 500;

  overflow: hidden; 
}

/*=========== CONTENIDO CENTRAL =============*/
#contenido{
  display: flex;
  flex-direction: row;

  margin: 1rem 0rem;
  padding: 0px 1.8rem;

  gap: 2.1rem; 
}

#area-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: auto;
  min-width: 400px;
  height: auto;


  padding: 0.55rem;
  margin-bottom: 0.75rem;
  margin-left: 30px;

  border-radius: .8rem;
  background: var(--colorSecundario);
  box-shadow: 0 2px 8px var(--sombra);
 
}

#area-img app-drag-zone-simple{
  width: 100%;
  max-height: 100%;
  display: block;
}

.imagen img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  margin: 0.35rem 0rem;

  border-radius: 4%;
  object-fit:contain;
}

.area-img-disable {
  user-select: none;
  pointer-events: none;
}

#detalle-formulario{
  width: 100%;
  padding: 0.75rem 1rem;
}

/* ===== Formulario ===== */
#formulario {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario h3 {
  text-align: center;
  margin-top: 0.65rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--colorBoton);
  position: relative;
  letter-spacing: 0.5px;
}
    /* linea inferior del titulo */
#formulario h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  border-radius: 3px;
    background: linear-gradient(
    90deg,
    var(--colorBoton),
    var(--color-acento)
  );
  margin: 0.80rem auto 0;
  opacity: 0.9;
}

/* ===== Formulario interno ===== */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ===== Inputs ===== */
label {
  font-weight: 500;
  margin-left: 0.5rem;
}

input {
  padding: 0.6rem 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid var(--borde-suave);
  font-family: var(--fuenteBase);
  font-size: 1rem;
  color: var(--texto-principal);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  outline: none;
  border-color: var(--colorBoton);
  box-shadow: 0 0 6px var(--sombra);
}

input.invalido {
  border: 2px solid var(--color-error);
  background: var(--color-error-suave);
}

textarea{
  padding: 0.6rem 0.6rem;
  border-radius: 1.2rem;
  border: 1px solid var(--borde-suave);
  font-family: var(--fuenteBase);
  color: var(--texto-principal, #222);
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  resize: none;
}

input:disabled,
textarea:disabled{
  user-select: none;
  pointer-events: none;
}

/*=========== FILSETS COMPARTIDOS =============*/
.input-conjunto{
  display: flex;
  width: 100%;

  gap: 4%;
}

.input-conjunto > fieldset{
  flex: 1;
}

/* ================ Errores ======================== */
small {
  color: var(--color-error);
  font-size: 0.9rem;
  text-align: left;
  margin-left: 0.6rem;
}

@media (min-width: 2000px) {
  /*Pantalla UltraWide*/
  #mi-perfil-cont{
    align-items: flex-start;
    padding-top: 2rem; 
  }
  #contenedor-tarjeta {
    max-width: 60%;
  }
  #titulo h1 {
    font-size: 2.1rem;
  }
}

