/******************************************************/
#contenedor-tarjeta{
    background-color: var(--colorFondoTarjeta, #fff);
    color: var(--colorTerciario, #222);

    border-radius: 1rem;
    box-shadow: 0 4px 12px var(--sombra);

    overflow: hidden;
    animation: aparecer 0.25s ease-out;
    
    width: 100%;
    max-width: 90%;

    display: flex;
    flex-direction:column;
    margin: 1rem auto;
    padding: .2rem 2rem 1rem 2rem;
}

/* Animacion cada vez que se carga el contenedor */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/*=====TITULO PRINCIPAL=====*/
#titulo{
  padding: 0 2rem 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo h1 {
  text-align: center;
  margin-top: 0.65rem;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--colorBoton, #0077b6);
  position: relative;
  letter-spacing: 0.5px;
}
    /* linea inferior del titulo */
#titulo h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(90deg, var(--colorBoton, #0077b6), #00b4d8);
  margin: 0.80rem auto 0;
  opacity: 0.9;
}

/*============== INFO SUPERIOR ==============*/
#info-superior {
  display: flex;
  align-items: center;    
  justify-content: space-between;

  padding: 0px 1rem 0 1.6rem;
  margin-bottom: 10px;
}

#info-superior h2{
  user-select: none;

  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  white-space: nowrap;

  margin-left: 1.3rem;
  line-height: 1;
}

/*=========== BOTONES =============*/
#botonera{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.15rem;
  
}

.boton{
  display: flex;
  align-items: center;
  justify-content: center;     

  padding: 0.4rem 1rem;
  min-width: 100px;

  border: none;
  border-radius: 1.3rem;
  
  font-weight: 500;  
  font-size: 0.85rem;

  text-transform: uppercase; 
  text-align: center;  
  color: var(--colorPrincipal, #fff);
  
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s ease; 
}

  /*Boton Editar*/
#btn-editar {
  background-color: #0096c7;
  transform: scale(1.03);
}

#btn-editar:hover {
  background-color: #005b8d;  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);  
  transform: translateY(-2px);  
}

#btn-editar:disabled {
  background-color: #a0c4d9;
  cursor: not-allowed;
  transform: none;
}

  /*Boton Cambiar Pass*/
#btn-pass {
  background-color: #d32424;
  transform: scale(1.03);
}

#btn-pass:hover {
  background-color: #a51b1b; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);  
  transform: translateY(-2px);  
}

#btn-pass:disabled {
  background-color: #ce7171;
  cursor: not-allowed;
  transform: none;
}

/*=========== CONTENIDO CENTRAL =============*/
#contenido{
  display: flex;
  flex-direction: row;

  margin: 1rem 0rem;
  padding: 0px 1.8rem;

  gap: 1.8rem; 
}

#area-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 57%;
  height: auto; 

  padding: 0.55rem;
  margin-bottom: 0.75rem;

  border-radius: .8rem;
  background: #f2f2f2;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
 
}

#area-img app-drag-zone-simple{
  width: 100%;
  max-height: 100%;
  display: block;
}

.area-img-disable {
  user-select: none;
  pointer-events: none;
  opacity: 0.6;
}

#detalle-formulario{
  width: 100%;
  padding: 0.75rem 1rem;
}

/* ===== Formulario ===== */
#formulario {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario h3 {
  text-align: center;
  margin-top: 0.65rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--colorBoton, #0077b6);
  position: relative;
  letter-spacing: 0.5px;
}
    /* linea inferior del titulo */
#formulario h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(90deg, var(--colorBoton, #0077b6), #00b4d8);
  margin: 0.80rem auto 0;
  opacity: 0.9;
}

/* ===== Formulario interno ===== */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* ===== Inputs ===== */
label {
  font-weight: 500;
  margin-left: 0.5rem;
}

input {
  padding: 0.6rem 0.8rem;
  border-radius: 1.2rem;
  border: 1px solid #ccc;
  font-family: var(--fuenteBase);
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  outline: none;
  border-color: var(--colorBoton, #0077b6);
  box-shadow: 0 0 6px rgba(0, 119, 182, 0.35);
}

input.invalido {
  border: 2px solid #ff5c5c;
  background: #ffecec;
}

textarea{
  padding: 0.6rem 0.6rem;
  border-radius: 1.2rem;
  border: 1px solid #ccc;
  font-family: var(--fuenteBase);
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  resize: none;
}

input:disabled,
textarea:disabled{
  user-select: none;
  pointer-events: none;
}

/*=========== FILSETS COMPARTIDOS =============*/
.input-conjunto{
  display: flex;
  width: 100%;

  gap: 4%;
}

.input-conjunto > fieldset{
  flex: 1;
}

/* ================ Errores ======================== */
small {
  color: #ff3333;
  font-size: 0.9rem;
  text-align: left;
  margin-left: 0.6rem;
}

@media (min-width: 2000px) {
  /*Pantalla UltraWide*/
  #contenedor-tarjeta {
    max-width: 80%;
  }
  #titulo h1 {
    font-size: 2.1rem;
  }
}
