<header>
  <div id="panel-izquierda" tabindex="-1">
    <a routerLink="/" id="logo-container">
      <img 
        src="assets/img/logo.png"
        alt="ArquiTour Logo"
        id="logo"
      >
    </a>
  </div>

  @if(isLogged()){

    <div id="panel-central">
    <ul>
      <li>
        <div id="panel-obras">
          @if(!isArq() && !isAdmin()){
            <a routerLink="/obras" class="boton">OBRAS</a>
          }@else{
            <a class="boton" (click)="toggleObrasMenu()">OBRAS</a>

            @if(obrasMenu){
              <div id="menu-obras" 
                class="menu-desplegable bordes-radius">

                <a (click)="cerrarTodosMenus()" routerLink="/obras">Ver Obras</a>
                <a (click)="cerrarTodosMenus()" routerLink="/formObras">Registrar Obra</a>
    

              </div>
            }

          }
            
        </div>
      </li>

      <li>
        <div id="panel-estudios">
          @if(!isArq() && !isAdmin()){
            <a (click)="cerrarTodosMenus()" routerLink="/estudios" class="boton">ESTUDIOS</a>
          }@else{
            <a class="boton" (click)="toggleEstudiosMenu()">ESTUDIOS</a>

            @if(estudiosMenu){
              <div id="menu-estudios" 
                class="menu-desplegable bordes-radius">

                <a (click)="cerrarTodosMenus()" routerLink="/estudios">Ver Estudios</a>
                <a (click)="cerrarTodosMenus()" routerLink="/formEstudios">Crear Estudio</a>
                
              </div>
            }

          }
            
        </div>
      </li> 
      <li>
        <div id="panel-mapas">
            <a class="boton" (click)="toggleMapaMenu()">MAPA</a>

            @if(mapaMenu){
              <div id="menu-mapas" 
                class="menu-desplegable bordes-radius">

                <a (click)="cerrarTodosMenus()" routerLink="/mapa">Ver Mapa</a>
                <a (click)="cerrarTodosMenus()" routerLink="/obras-cercanas">Ver Obras Cercanas</a>
                
              </div>
            }            
        </div>      
      </li>
      <li><a (click)="cerrarTodosMenus()" class="boton" routerLink="/favoritos">FAVORITOS</a></li>
    </ul>

    </div>
  
    <div id="panel-derecha">

      <div id="contenedor-notificaciones"
          (click)="abrirNotificaciones()"
          tabindex="0"
          (keydown.enter)="abrirNotificaciones()">

        <span
          id="notificaciones"
          class="material-icons span-menu"
          tabindex="-1">
            notifications
        </span>

        <!-- Badge solo si hay notificaciones sin leer -->
        @if (cantNotifSinLeer$ | async; as count) {
          @if (count > 0) {
            <span 
              class="badge-notificaciones"
              [class.un-digito]="count < 10"
              [class.dos-digitos]="count >= 10">

                {{ count > 99 ? '99+' : count }}

            </span>
          }
        }

      </div>

      <span 
        id="usuario"
        class="material-icons span-menu"
        (click)="toggleUsuarioMenu()"
        (keydown.escape)="toggleUsuarioMenu()"
        tabindex="0">person</span>

      @if(usuarioMenu){
        <div id="menu-usuario" 
          class="menu-desplegable bordes-radius-inf borde-sup-izq">

          <a routerLink="/" (click)="cerrarSesion()">Cerrar Sesion
            <span id="logout" class="material-icons user-icon-trigger">logout</span>
          </a>
          <a (click)="cerrarTodosMenus()" routerLink="/me">Ver mi Perfil</a>

          @if(isAdmin()){
            <a (click)="cerrarTodosMenus()" routerLink="/gestionar-usuarios">Gestionar Usuarios</a>
          }

          <hr>
          <a id="modo-noche" (click)="toggleModoNoche()">
            Modo Noche
            <span
              id="noche-toggle"
              class="material-icons user-icon-trigger"
              [class.activo]="modoNoche">
              {{ modoNoche ? 'toggle_on' : 'toggle_off' }}
            </span>
          </a>


        </div>
      }
      

    </div>

  }


</header>