#global {
  display: flex;
  overflow: hidden;
  flex-grow: 1;

  height: 100%;
  min-height: 0;
}

#contenedor-usuarios {
  display: grid;
  grid-template-columns: auto 1fr;
  flex: 1; 

  min-height: 0;
  width: 100%;

  gap: 10px;

  animation: aparecer 0.25s ease-out;
}

/* Animacion cada vez que se carga el contenedor */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

  /*su utiliza para el scroll*/
#contenedor-lista {
  padding: 0;
}

/*================= PANELES ============*/
#panel-izq {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 400px;

  padding: 0.8rem 2rem;
}

#panel-der {
  display: flex;
  flex-direction: column;
  height: 100%;           
}

#panel-scroll {
  flex-grow: 1;
  overflow-y: auto;
  height: 0;                 
}

/*================ PANEL FILTRO IZQ =====================*/

#panel-izq .titulo {
  position: relative;
  flex-shrink: 0;

  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;

  margin-top: 10px;
  margin-bottom: 10px;
  
  color: var(--colorBoton, #0077b6);
}

#panel-filtros {
  border-radius: 12px;
  flex-shrink: 0;
}

.form-filtros {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 1.2rem;
}

  /*CAMPOS DEL FORMULARIO*/
.campo {
  display: flex;
  flex-direction: column;

  border: 0;

  gap: 0.2rem;
}

 fieldset.campo > label {
  font-weight: 500;
  margin-left: 0.5rem;
  
  font-size: 0.9rem;
  color: var(--colorTerciario);
}

#panel-filtros select,
#panel-filtros input {
  width: 100%;
  height: 42px;

  padding: 0.6rem 0.8rem;

  border-radius: 1.2rem;          
  border: 1px solid #ccc;

  font-size: 1rem;

  background-color: var(--colorPrincipal);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

#panel-filtros .form-filtros select:focus,
#panel-filtros .form-filtros input:focus {
  outline: none;
  border-color: var(--colorBoton, #0077b6);
  box-shadow: 0 0 6px var(--sombra);
}

#panel-filtros .form-filtros select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.2rem; 
  background-image:
    linear-gradient(45deg, transparent 50%, #666 50%),
    linear-gradient(135deg, #666 50%, transparent 50%);
  background-position:
    calc(100% - 18px) 52%,
    calc(100% - 12px) 52%;
  background-size: 6px 6px;
  background-repeat: no-repeat;
}

/* Estado inválido */
input.invalido,
select.invalido {
  border: 2px solid var(--colorBotonEliminar);
  background: #ffecec;
}

  /*==== BOTONES ======*/

#botonera {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
  margin-top: 3%;
}

#botonera button {
  padding: .65rem .9rem;
  border-radius: 999px;
  border: 1px solid transparent;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform .15s, box-shadow .2s, background-color .2s;
}

  /*Boton Buscar*/
#buscar {
  background: var(--colorBoton, #0077b6);
  color: var(--colorSecundario);
}

#buscar:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px var(--sombra);
}


#limpiar:hover {
  background: var(--colorSecundario);
  box-shadow: 0 8px 16px var(--sombra);
}



/*================ PANEL LISTA DERECHA =====================*/

#lista-usuarios {
  display: flex;
  flex-direction: column;

  list-style: none;

  margin: 0;
  padding: 2.8rem 3.5rem 1.2rem 1.2rem;
  gap: 1.5rem;
}

#lista-usuarios > li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;

  padding: .65rem .85rem;
  min-height: 110px;

  border-radius: 12px;

  background: var(--colorFondoTarjeta);
  box-shadow: 0 2px 8px var(--sombra);

  transition: transform 0.2s, box-shadow 0.2s;
}

#lista-usuarios > li:hover{
  /*transform: translateY(-2px);      Resulta Molesto*/ 
  box-shadow: 0 4px 16px var(--sombra);
}

#informacion{
  user-select: none;
  cursor: pointer;
  width: 100%;
}

  /* Borde segun su estado*/
.contenido-usuario{
  margin-left: 10px;
  padding-left: 15px;
  
}

.contenido-usuario.usr-hab{
  border-left: .21rem solid #1e6e0c;
}

.contenido-usuario.usr-deshab{
  border-left: .21rem solid var(--colorBotonEliminar);
}

  /*Datos del Usuario*/
.nombre-usuario {
  margin: 0 0 0.35rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--colorTerciario);
}

.datos-usuario{
  display: flex;
  flex-direction: column;

  margin: 0rem 0rem 0.35rem 0.35rem;
  gap:.45rem;
}

.rol-usuario{
  color: var();
}


/*===BOTONERA====*/
.botonera{
  display: flex;
  flex-direction: row;

  padding: 0rem 1.6rem;
  margin-right: 0.8rem;
  gap: 3rem;
  align-items: center;
}

.botonera > div{
  user-select: none;
}

.botonera span{
  font-size: 2.2rem;
  transition: transform 0.25s ease;
}

/* .botonera span:hover {
  transform: scale(1.2);
} */

.botonera .zoom:hover{
  transform: scale(1.2);
}

.inhabilitado{
  color: var(--colorBotonEliminar);
}

  /*Etiqueta Animada de Botones*/

.btn-etiqueta-detalle{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.etiqueta-detalle{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.95);

  background: var(--colorTerciario);
  color: var(--colorSecundario);

  padding: 5px 8px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 11px;

  border-radius: 12px;
  opacity: 0;

  pointer-events: none;
  white-space: nowrap;

  transition: 0.25s ease;
}

.etiqueta-detalle::after{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--colorTerciario) transparent;
}

.btn-etiqueta-detalle:hover .etiqueta-detalle{
  opacity: 1;
  transform: translateX(-50%) scale(1);
}