# FRONTEND (Angular)
frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/tmp/
frontend/coverage/
frontend/.angular/
frontend/e2e/test-output/
frontend/package-lock.json
frontend/yarn.lock
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.angular-cli.json
frontend/.ng/
frontend/*.tsbuildinfo
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/Thumbs.db

#BACKEND (Springboot)
backend/target/
backend/.idea/
backend/.vscode/
backend/*.iml
backend/.classpath
backend/.project
backend/.settings/

# Logs
backend/*.log
backend/logs/
backend/tmp/

# Archivos de entorno
backend/.env
backend/.env.*

# Deja Subir la Plantilla del ENV
!backend/.env.example   

#ARCHIVOS DE IDE (INTELLIJI Y VS)

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml

# VS Code
.vscode/

# EJECUCION DE DESARROLLO
.bat
.sh