<div id="global">

  <div id="contenedor-favoritos">
    <div id="panel-izq">
      <h3 class="titulo">Favoritos</h3>
      <div id="panel-filtros">
          <form [formGroup]="filtro" (submit)="cargarListas()" class="fila">
            <fieldset>
              <label for="filtroNombre">Buscar por nombre:</label>
              <input
                id="filtroNombre"
                type="text"
                formControlName="nombre"
                placeholder="Ej: Edificios Residenciales"
                [class.invalido]="filtro.get('nombre')?.invalid && filtro.get('nombre')?.touched"
                autocomplete="off">

              @if (filtro.get('nombre')?.errors?.['minlength'] && filtro.get('nombre')?.touched) {
                <small>Mínimo 2 caracteres.</small>
              }
            </fieldset>

            <div class="botones">
              <button type="submit">BUSCAR</button>
              <button type="button" (click)="limpiarFiltro()">LIMPIAR</button>
            </div>

          </form>


      </div>

    </div>

    <div id="panel-der">
      <div id="panel-scroll">
        <div class="grid">
          @for (l of listas; track l?.id ?? $index) {
            <div class="card" 
                 [class.editando]="editandoId === l.id"
                [routerLink]="['/favoritos', l.id]"
                >
            <div class="card-body">

             
                

                <!-- MODO NORMAL -->
                @if (editandoId !== l.id) {
                  <h2>{{ l.nombre }}</h2>

                  <div class="fila-inferior">
                    <p class="contador">{{ l.cantidadObras }} obras</p>

                    <div class="acciones-inferiores">
                      <button class="btn-editar" (click)="activarEdicion(l)">
                        <span class="material-icons">edit</span>
                      </button>

                      <button class="btn-eliminar" (click)="eliminarLista(l.id)">
                        <span class="material-icons">delete</span>
                      </button>
                    </div>
                  </div>
                }


                <!-- MODO EDICIÓN -->
                @if (editandoId === l.id) {
                  <label for="nombre" class="label">Nombre de la Lista</label>
                  <input
                    id="nombre"
                    type="text"
                    [formControl]="controlEdicion"
                    class="input-edicion"
                  />

                  @if (controlEdicion.invalid && controlEdicion.touched) {
                    <small class="error">Mínimo 2 caracteres.</small>
                  }

                  <div class="acciones-edicion">
                    <button class="btn-guardar" (click)="guardarEdicion(l.id)" [disabled]="controlEdicion.invalid">
                      Guardar
                    </button>
                    <button class="btn-cancelar" (click)="cancelarEdicion()">
                      Cancelar
                    </button>
                  </div>
                }

                

              </div>

            </div>
          }

          @empty {
            <p class="vacio">No hay listas para para mostrar.</p>
          }
        </div>

      </div>

    </div>

  </div>
    
</div>
