#gestionar-roles {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 99999;
  min-width: 260px;
  max-width: 320px;

  background: var(--fondo-superficie);
  box-shadow: 0 10px 26px var(--sombra);

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;

  padding: 0.9rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  border: 1px solid var(--color-contorno-favorito);

}

/* Título del popup */
#titulo{
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  
  color: var(--texto-principal);
}

/* ====== LISTAS ====== */
.item-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;

  padding: 0.35rem 0.6rem;
  margin-left: 2%;
  border-radius: 999px;
  background: var(--colorItem);
  color: var(--texto-principal);

  cursor: pointer;
 
}

.item-lista + .item-lista {
  margin-top: 0.3rem;
}

.item-lista:hover {
  background: var(--colorSecundario);
  box-shadow: 0 2px 6px var(--sombra);
  transform: translateY(-1px);
}


.item-lista .nombre {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.9rem;
}

/* Icono de estado (check / círculo) */
.icon-check {
  font-size: 20px;
  color: var(--texto-secundario);  
  flex-shrink: 0;
  transition: color 0.15s ease, transform 0.12s ease;
}

.icon-check.activo {
  color: var(--colorBoton);
  transform: scale(1.05);
}

/* ====== BOTONERA ====== */
#botonera{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px 0px 6px 0px;
  margin-top: 5px;
  width: 100%;

  gap: 15px;
  
  border-top: 1px solid var(--btn-quitar-bg-hover);
}

#botonera button {
  border: none;
  border-radius: 999px;

  padding: .65rem .9rem;

  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  cursor: pointer;
  flex-shrink: 0;
  transition: filter 0.15s ease, transform 0.12s ease, box-shadow 0.15s ease;
}

small {
  color: var(--color-error);
  font-size: 0.9rem;
  text-align: left;
  margin-left: 0.6rem;
}

/*Btn Aceptar*/
#aceptar {
  background: var(--colorBoton);
  color: var(--texto-boton-buscar);
}

#aceptar:hover {
  transform: translateY(-2px);
}

/*Btn Cancelar*/
#cancelar {
  background: var(--boton-secundario-bg);
  color: var(--boton-secundario-texto);
  border: 1px solid transparent;
}

#cancelar:hover {
  transform: translateY(-2px);
}

/* =============== PANEL DE SCROLL =============== */
.scroll {
  max-height: 200px;       
  overflow-y: auto;        
  margin-top: 0.4rem;
  padding-right: 8px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent;

}

