<div id="global-solicitudes">
  <div id="contenedor-solicitudes">

    <!-- ================= PANEL IZQUIERDO ================= -->
    <div id="panel-izq-solicitudes">
      <h1 class="titulo">Solicitudes</h1>

      <section id="panel-filtros-solicitudes">
        <form [formGroup]="filtro" class="form-filtros-solicitudes">

          <!-- ========== Tipo ========== -->
          <fieldset class="campo">
            <label>Tipo</label>
            <select formControlName="tipo" (change)="aplicarFiltro()">
              <option value="">--Todos--</option>
              <option [value]="TipoSolicitudModel.ALTA_ARQUITECTO">Alta arquitecto</option>
              <option [value]="TipoSolicitudModel.BAJA_ROL">Baja rol</option>
            </select>
          </fieldset>

          <!-- ========== Estado ========== -->
          <fieldset class="campo">
            <label>Estado</label>
            <select formControlName="estado"(change)="aplicarFiltro()">
              <option value="">--Todos--</option>
              <option [value]="EstadoSolicitudModel.PENDIENTE">Pendiente</option>
              <option [value]="EstadoSolicitudModel.EN_PROCESO">En proceso</option>
              <option [value]="EstadoSolicitudModel.APROBADA">Aprobada</option>
              <option [value]="EstadoSolicitudModel.RECHAZADA">Rechazada</option>
            </select>
          </fieldset>

          <!-- ========== Fecha Desde ========== -->
          <fieldset class="campo">
            <label>Desde</label>
            <input type="date" formControlName="fechaDesde" (change)="aplicarFiltro()">
          </fieldset>

          <!-- ========== Fecha Hasta ========== -->
          <fieldset class="campo">
            <label>Hasta</label>
            <input type="date" formControlName="fechaHasta" (change)="aplicarFiltro()">
          </fieldset>


          <div class="acciones-filtro-solicitudes">
            <button type="submit" class="btn-buscar" (click)="aplicarFiltro()">Buscar</button>
            <button type="button" class="btn-limpiar" (click)="limpiarFiltro()">Limpiar</button>
          </div>

        </form>

        @if (esAdminActual) {
          <div class="acciones-extra-solicitudes">
            <button
              type="button"
              class="btn-mis-solicitudes"
              (click)="toggleMisSolicitudes()">
              {{ soloMias ? 'Ver todas las solicitudes' : 'Mis solicitudes' }}
            </button>
          </div>
        }



      </section>
    </div>
    <!-- ================= PANEL DERECHO ================= -->
    <section id="panel-der-solicitudes">

      <div class="nav-solicitudes">

        <div class="btn-etiqueta-detalle">
          <button class="btn-nueva-solicitud"
                (click)="irANuevaSolicitud()"
                [disabled]="!puedeCrearSolicitud()">
          <span class="material-symbols-rounded icono">add</span>
            Nueva solicitud
          </button>

          @if(!puedeCrearSolicitud() && this.esAdminDefault){
            <div class="etiqueta-detalle">Usted no puede hacer Solicitudes</div>
          }@else if (!puedeCrearSolicitud() && !this.esAdminDefault) {
            <div class="etiqueta-detalle">Ya tiene una solicitud Pendiente</div>
          }

        </div>
        

                      

      </div>

      <!-- SCROLL -->
      <div id="panel-scroll-solicitudes">

        <!-- ESTADO: CARGANDO -->
        @if (cargando) {
          <div class="estado-cargando">
            <span class="spinner"></span>
            <span>Cargando solicitudes...</span>
          </div>
        }

        <!-- ESTADO: SIN RESULTADOS -->
        @else if (!cargando && solicitudes.length === 0) {
          <div class="vacio-solicitudes">
            {{ mensajeSinResultados || 'No tenés solicitudes aún.' }}
          </div>
        }

        <!-- ESTADO: LISTA -->
        @else {

          <ul class="lista-solicitudes">

            @for (s of solicitudes; track s.id) {

              <li class="solicitud-card" (click)="verDetalle(s)">

                <div class="solicitud-tit">
                  <span class="chip-tipo">{{ TipoSolicitudDescripcion[s.tipoSolicitud] }}</span>

                  <span class="badge-estado"
                    [class.pendiente]="s.estado === 'PENDIENTE'"
                    [class.en-proceso]="s.estado === 'EN_PROCESO'"
                    [class.aprobada]="s.estado === 'APROBADA'"
                    [class.rechazada]="s.estado === 'RECHAZADA'">
                    {{ EstadoSolicitudDescripcion[s.estado] }}
                  </span>
                </div>

                <!-- Fechas -->
               <div class="solicitud-fechas">
                <span class="fecha-label">Creada: </span>
                <span class="fecha-valor">{{ s.fechaCreacion }}</span>
              </div>
 
              </li>

            }

          </ul>

        }

      </div>
    </section>

  </div>
</div>

<app-esperando-modal
  [isVisible]="spinerVisible"
  mensaje="Cargando solicitudes..."
></app-esperando-modal>
