<div id="global">
  <div id="formulario">
 
    <h1 id="titulo">{{ editar ? 'Editar estudio' : 'nuevo estudio' }}</h1>

    <div id="panel-campos">
      <form
        [formGroup]="formulario"
        (submit)="guardar()"
        enctype="multipart/form-data"
        novalidate>

        <!-- Nombre -->
        <fieldset class="campo">
          <label for="nombre" class="label">Nombre del estudio</label>
          <input
            id="nombre"
            type="text"
            formControlName="nombre"
            placeholder="Ej.: Estudio ArquiTour"
            [class.invalido]="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.touched || formulario.get('nombre')?.dirty)"
            autocomplete="off">
        
          @if (formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched) {
            <small class="error">El nombre del estudio es obligatorio.</small>
          }@else if(formulario.get('nombre')?.errors?.['minlength'] && formulario.get('nombre')?.touched) {
            <small class="error">El nombre es demasiado corto (min. 2 caraceres).</small>
          }@else if(formulario.get('nombre')?.errors?.['maxlength']) {
            <small class="error">El nombre excede los limites (max. 100 caraceres).</small>
          }@else if (formulario.get('nombre')?.errors?.['espacios'] && formulario.get('nombre')?.touched) {
            <small class="error">El nombre del estudio es obligatorio.</small>
          }@else {
            @if (formulario.get('nombre')?.errors?.['sinLetras'] && formulario.get('nombre')?.touched) {
            <small class="error">Formato invalido, debe contener una letra.</small>
            }
            @if (formulario.get('nombre')?.errors?.['formato']) {
              <small class="error">Simbolos permitidos (- : . , ¡ ? ( ) /).</small>
            }
          }

        </fieldset>

        <!-- Imagen -->
        <app-drag-zone-simple
          label="Imagen de Perfil"
          [imgExistente]="editar ? imagenActualUrl : null"
          (archivoChange)="archivoSeleccionado = $event"
          (quitadoImg)="quitadoImg = $event">
        </app-drag-zone-simple>

        @if(editar){
          <!-- Arquitectos Burbujas -->
          <div class="campo">
            <label id="arq-est" class="label">Arquitectos del estudio</label>

            <div id="contenedor-burbujas">

              @for (arq of arquitectosVinculados; track arq.id) {
                <div class="burbuja">

                  <button class="cont-cruz" (click)="quitarArquitecto(arq.id)">
                    <span class="material-icons">close</span>
                  </button>

                  <p class="nombre">{{ arq.nombre }}</p>

                </div>
              } @empty {
                <small class="comentario">No hay arquitectos asignados.</small>
              }

            </div>

          </div>

            <!-- Agregar arquitecto por email -->
          <fieldset class="campo">
            <label for="emailArquitecto" class="label">Agregar arquitecto</label>

            <div id="fila-arq">
              <input
                id="emailArquitecto"
                type="email"
                class="input"
                formControlName="emailArquitecto"
                placeholder="Ej: arquitecto@correo.com"
                [class.invalido]="mensajeErrorAgregar || formulario.get('emailArquitecto')?.invalid && formulario.get('emailArquitecto')?.touched"
                (keydown.space)="$event.preventDefault()"
                autocomplete="off">

              <button 
                id="btn-agregar-arq" 
                type="button" 
                class="btn-secundario"
                (click)="agregarArquitectoPorEmail()"
                [disabled]="formulario.get('emailArquitecto')?.errors?.['email'] && !formulario.get('emailArquitecto')?.touched">
                <span id="sumar-arq" class="material-symbols-rounded">add</span>
              </button>

            </div>

            @if (formulario.get('emailArquitecto')?.errors?.['email'] && formulario.get('emailArquitecto')?.touched) {
              <small class="error">El email debe seguir el formato ("correo@email.com").</small>
            }@else if (mensajeErrorAgregar) {
              <small class="error">{{ mensajeErrorAgregar }}</small>
            }
            
          </fieldset>
        }

        <!-- Botón -->
        <div id="botonera" class="acciones">
          <button id="btn-ingresar" type="submit"
            [disabled]="formulario.invalid || subiendo"> {{ editar ? 'GUARDAR CAMBIOS' : 'INGRESAR ESTUDIO' }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
<app-mensaje-modal
  [isVisible]="modalVisible"
  [titulo]="modalTitulo"
  [mensaje]="modalMensaje"
  [tipo]="modalTipo"
  [conIcon]="true"
  tipoContenido="texto"
  [mostrarCerrar]="true"
  [mostrarBotonAceptar]="true"
  [mostrarBotonCancelar]="false"
  textoBotonAceptar="Aceptar"
  (aceptar)="onModalAceptar()"
  (cerrado)="onModalCerrado()"
/>
