<div id="global">
  <div id="formulario">
 
    <h1 id="titulo">{{ editar ? 'Editar estudio' : 'nuevo estudio' }}</h1>

    <div id="panel-campos">
      <form
        [formGroup]="formulario"
        (submit)="guardar()"
        enctype="multipart/form-data"
        novalidate>

        <!-- Nombre -->
        <fieldset class="campo">
          <label for="nombre" class="label">Nombre del estudio</label>
          <input
            id="nombre"
            type="text"
            formControlName="nombre"
            placeholder="Ej.: Estudio ArquiTour"/>
        
          @if (formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched) {
            <small class="error">Ingrese un nombre válido.</small>
          }
        </fieldset>

        <!-- Imagen -->
        <app-drag-zone-simple
          label="Imagen de Perfil"
          [imgExistente]="editar ? imagenActualUrl : null"
          (archivoChange)="archivoSeleccionado = $event"
          (quitadoImg)="quitadoImg = $event">
        </app-drag-zone-simple>


        <!-- Arquitectos Burbujas -->
        <div class="campo">
          <label id="arq-est" class="label">Arquitectos del estudio</label>

          <div id="contenedor-burbujas">

            @for (arq of arquitectosVinculados; track arq.id) {
              <div class="burbuja">

                <button class="cont-cruz" (click)="quitarArquitecto(arq.id)">
                  <span class="material-icons">close</span>
                </button>

                <p class="nombre">{{ arq.nombre }}</p>

              </div>
            } @empty {
              <small class="comentario">No hay arquitectos asignados.</small>
            }

          </div>

        </div>

          <!-- Agregar arquitecto por email -->
        <fieldset class="campo">
          <label for="emailArquitecto" class="label">Agregar arquitecto</label>

          <div id="fila-arq">
            <input
              id="emailArquitecto"
              type="email"
              class="input"
              formControlName="emailArquitecto"
              placeholder="Ej: arquitecto@correo.com"
              autocomplete="off"/>

            <button id="btn-agregar-arq" type="button" class="btn-secundario"(click)="agregarArquitectoPorEmail()">
              <span id="sumar-arq" class="material-symbols-rounded">add</span>
            </button>
          </div>

          @if (mensajeErrorAgregar) {
            <small class="error">{{ mensajeErrorAgregar }}</small>
          }

        </fieldset>

        <!-- Botón -->
        <div id="botonera" class="acciones">
          <button id="btn-ingresar" type="submit"
            [disabled]="formulario.invalid || subiendo"> {{ editar ? 'GUARDAR CAMBIOS' : 'INGRESAR ESTUDIO' }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
