.mapa-obra-wrapper {
  width: 100%;
  height: 100%;      
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative; 
}

.mapa-obra {
  width: 100%;
  height: 100%;     
  position: absolute;
  top: 0;
  left: 0;
}
