<section class="detalle">
  @if (!cargando && estudio) {
    <div class="tarjeta-detalle">

      <!-- ====== Fila 1: nombre + botones ====== -->
      <div class="cabecera-general">
        <h1 class="titulo">{{ estudio.nombre }}</h1>

        @if (puedeGestionar()) {
          <div id="botonera" class="acciones-der">
            <button id="btn-editar" type="button" class="boton" (click)="editar()">Editar</button>
            <button id="btn-eliminar" type="button" class="danger boton" (click)="eliminar()">Eliminar</button>
          </div>
        }
      </div>

      <!-- ====== Fila 2: imagen + obras ====== -->
      <div class="fila-contenido">
        <!-- Imagen -->
        <div class="imagen">
          <img
            [src]="imgSrc(estudio.imagenUrl)"
            (error)="imagenError($event)"
            alt="Imagen del estudio" />
        </div>

        <!-- Obras -->
        <div class="panel panel-obras">
          <div class="encabezado">
            <h3>Obras Vinculadas</h3>
          </div>

          @if (obrasVinculadas.length) {
            <ul class="obras-scroll">
              @for (obra of obrasVinculadas; track obra.id) {
                <li class="obra-item" [routerLink]="['/obras', obra.id]">
                     {{ obra.nombre }}
                </li>
              }
            </ul>
          } @else {
            <p class="vacio">Sin obras asociadas.</p>
          }
        </div>
      </div>

      <!-- ====== Fila 3: arquitectos ====== -->
      <div class="panel-arquitectos">
        <div class="encabezado">
          <h3>Arquitectos vinculados</h3>
        </div>

        @if (arquitectosVinculados.length) {
          <ul class="arq-item">
            @for (arq of arquitectosVinculados; track arq.id) {
              <li>{{ arq.nombre }}</li>
            }
          </ul>
        } @else {
          <p class="vacio">Sin arquitectos asociados.</p>
        }
      </div>

    </div>
  } @else {
    <p>No se encontró el estudio.</p>
  }
</section>
<app-mensaje-modal
  [isVisible]="modalVisible"
  [titulo]="modalTitulo"
  [mensaje]="modalMensaje" 
  [tipo]="modalTipo"
  [conIcon]="true"
  tipoContenido="texto" 
  [mostrarCerrar]="true"
  [mostrarBotonAceptar]="true"
  [mostrarBotonCancelar]="false"
  textoBotonAceptar="Aceptar"
  (aceptar)="onModalAceptar()"
  (cerrado)="onModalCerrado()"
/>
