#mapa-obras {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--sombra);
}
/*IMPORTANTISIMO PORQUE SINO NO CARGA EL MAPA*/

#contenedor-mapa-obras {
  position: relative;
  overflow: hidden;

  height: 100%;
  min-height: 0;

  width: 100%;
  gap: 10px;
  
  animation: aparecer 0.25s ease-out;
}

/* Animacion cada vez que se carga el contenedor */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

#contenedor-mapa-obras {
  position: relative;   /* clave */
  width: 100%;
  height: 100%;
}

/* El mapa ocupa todo */
#mapa-obras {
  width: 100%;
  height: 100%;
}

/* Burbuja flotante */
#burbuja {
  position: absolute;       
  top: 25px;                
  right: 25px;              
  background: var(--fondo-suave);
  color: var(--texto-principal);
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 1rem;

  z-index: 9999;            /* sobre el mapa */
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0,0,0,.25);
  user-select: none;
  cursor: pointer;
}

#burbuja:hover {
  background: var(--colorSecundario);
  box-shadow: 0 8px 16px var(--sombra);
}
