#mapa-obras {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--sombra);
}
/*IMPORTANTISIMO PORQUE SINO NO CARGA EL MAPA*/

#contenedor-mapa-obras {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
  min-height: 0;
  gap: 10px;

  animation: aparecer 0.25s ease-out;
}

/* Animación al cargar */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

#burbuja {
  position: absolute;
  top: 25px;
  right: 25px;

  background: var(--fondo-suave);
  color: var(--texto-principal);
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 0.95rem;

  display: flex;
  align-items: center;
  gap: 10px;

  z-index: 999;
  user-select: none;
  cursor: pointer;

  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0,0,0,.25);

  transition: background 0.2s ease, 
              box-shadow 0.2s ease,
              transform 0.15s ease;
}

#burbuja:hover {
  background: var(--colorSecundario);
  box-shadow: 0 8px 16px var(--sombra);
  transform: translateY(-1px);
}

/* Texto ordenado */
#burbuja .texto {
  white-space: nowrap;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

#burbuja .btn-burbuja {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);

  transition: background 0.2s ease, 
              transform 0.1s ease;

  padding: 0;
}

#burbuja .btn-burbuja:hover {
  background: rgba(255, 255, 255, 0.45);
  transform: scale(1.05);
}

#burbuja .btn-burbuja:active {
  transform: scale(0.97);
}

/* Ícono del botón */
#burbuja .btn-burbuja .material-icons-round,
#burbuja .btn-burbuja .material-icons {
  font-size: 18px;
  color: var(--texto-principal);
}
