#mapa-obras {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(15, 23, 42, 0.15);
}
/*IMPORTANTISIMO PORQUE SINO NO CARGA EL MAPA*/

#contenedor-mapa-obras {

  overflow: hidden;

  height: 100%;
  min-height: 0;

  width: 100%;
  gap: 10px;
  
  animation: aparecer 0.25s ease-out;
}

/* Animacion cada vez que se carga el contenedor */
@keyframes aparecer {
  from {
    transform: translateY(15px) scale(0.97);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
