<div class="corazon-favoritos">

  <h3>Mis listas</h3>

  <div class="scroll" >
    @for (lista of listas; track lista.id) {

      <div class="item-lista" (click)="estadoLista(lista.id)">
        <span class="nombre">{{ lista.nombre }}</span>
        @if (estaEnLista(lista.id)) {
          <span class="material-icons icon-check activo">check_circle</span>
        } @else {
          <span class="material-icons icon-check">radio_button_unchecked</span>
        }
      </div>

    }

  </div>

  <form [formGroup]="formLista">
    <div class="crear">
  
        <input
          #nombreLista
          formControlName="nombreDeLista"
          placeholder="Nueva lista..."
          [class.input-error]="estaEnErrorCreacion || (formLista.invalid && (formLista.get('nombreDeLista')?.dirty || formLista.get('nombreDeLista')?.touched))"
          required
        />
        <button (click)="crearLista(nombreLista)">Crear</button>

    </div>
  
    @if (mensajeErrorCreacion) {
      <div class="error-msg">
        {{ mensajeErrorCreacion }}
      </div>
    }

    @if (formLista.get('nombreDeLista')?.errors?.['required'] && formLista.get('nombreDeLista')?.touched) {
      <div class="error-msg">
        {{ "El nombre es obligatorio" }}
      </div>
    }@else if (formLista.get('nombreDeLista')?.errors?.['pattern'] && formLista.get('nombreDeLista')?.dirty) {
      <div class="error-msg">
        {{ "Caracteres no permitidos." }}
      </div>
    }

  </form>

</div>