<div id="global">
  <div id="contenedor-form">

    <!-- Título -->
    <h1 id="titulo">
      
      @if(esAlta()) {
        Solicitar alta como arquitecto
      } @else {
        Solicitar baja de rol
      }
    </h1>
    <!-- ===================== TABS PARA MODO DUAL ===================== -->
    @if (modoDual) {
      <div class="tabs-tipo">

        <!-- TAB ALTA -->
        <button
          type="button"
          class="tab"
          [class.activa]="esAlta()"
          [disabled]="!altaHabilitada"
          (click)="cambiarTipo(TipoSolicitudModel.ALTA_ARQUITECTO)">

          Alta como Arquitecto

          @if (!altaHabilitada) {
            <small>(ya tenés una solicitud pendiente)</small>
          }
        </button>

        <!-- TAB BAJA ADMIN -->
        <button
          type="button"
          class="tab"
          [class.activa]="!esAlta()"
          [disabled]="!bajaAdminHabilitada"
          (click)="cambiarTipo(TipoSolicitudModel.BAJA_ROL)">

          Baja como Administrador

          @if (!bajaAdminHabilitada) {
            <small>(ya tenés una solicitud pendiente)</small>
          }
        </button>

      </div>
    }

    <div id="panel-campos">
      <form [formGroup]="formulario" (submit)="enviar($event)" novalidate>
        <div id="contenido-scroll">

          <!-- ============ FORM ALTA ============ -->
          @if(esAlta()) {

            <!-- Matrícula -->
            <fieldset class="form-group">
              <label class="label">Matrícula</label>
              <input
                type="text"
                class="input"
                formControlName="matriculaArquitecto"
                placeholder="Ej.: MAT-12345"
                [class.invalido]="formulario.get('matriculaArquitecto')?.invalid 
                                  && (formulario.get('matriculaArquitecto')?.touched || formulario.get('matriculaArquitecto')?.dirty)">

              @if (formulario.get('matriculaArquitecto')?.errors?.['required'] 
                  && (formulario.get('matriculaArquitecto')?.touched || formulario.get('matriculaArquitecto')?.dirty)) {
                <small class="error">La matrícula es obligatoria.</small>
              } @else if (formulario.get('matriculaArquitecto')?.errors?.['maxlength']) {
                <small class="error">La matrícula es demasiado larga (máx. 20 caracteres).</small>
              } @else if (formulario.get('matriculaArquitecto')?.errors?.['espacios']) {
                <small class="error">La matricula no admite espacios (coloque ' - ' )</small>
              } @else if (formulario.get('matriculaArquitecto')?.errors?.['caracteresInvalidos']) {
                <small class="error">La matrícula no admite símbolos como " '' \</small>
              }

            </fieldset>


            <!-- Universidad -->
            <fieldset class="form-group">
              <label class="label">Universidad</label>
              <input
                type="text"
                class="input"
                formControlName="universidad"
                placeholder="Ej.: Universidad Nacional de ..."
                [class.invalido]="formulario.get('universidad')?.invalid 
                                  && (formulario.get('universidad')?.touched 
                                      || formulario.get('universidad')?.dirty)">

              @if(formulario.get('universidad')?.errors?.['required'] 
                  && (formulario.get('universidad')?.touched || formulario.get('universidad')?.dirty)) {
                <small class="error">La universidad es obligatoria.</small>
              } @else if (formulario.get('universidad')?.errors?.['maxlength']) {
                <small class="error">La universidad es demasiado larga.</small>
              } @else if (formulario.get('universidad')?.errors?.['pattern']  && formulario.get('universidad')?.dirty) {
                <small class="error">La universidad contiene caracteres inválidos, se permiten ( . - ( ) )</small>
              } @else if (formulario.get('universidad')?.errors?.['espacios']  && formulario.get('universidad')?.dirty) {
                <small class="error">La universidad es obligatoria.</small>
              } 



            </fieldset>

            <!-- Año recibido -->
            <fieldset class="form-group">
              <label class="label">Año de Recibido</label>
              <input
                type="number"
                class="input"
                formControlName="anioRecibido"
                placeholder="Ej.: 2020"
                (keydown)="evitarEspacios($event)"
                [class.invalido]="formulario.get('anioRecibido')?.invalid 
                                  && (formulario.get('anioRecibido')?.touched || formulario.get('anioRecibido')?.dirty)">

              @if(formulario.get('anioRecibido')?.errors?.['required'] 
                  && (formulario.get('anioRecibido')?.touched || formulario.get('anioRecibido')?.dirty)) {
                <small class="error">El año es obligatorio.</small>
              } @else if(formulario.get('anioRecibido')?.errors?.['min'] || formulario.get('anioRecibido')?.errors?.['max']) {
                <small class="error">El año es inválido.</small>
              }
            </fieldset>

            <!-- Documentación -->
            <fieldset class="form-group">

              <app-drag-zone-multiple
                label="Documentación (obligatoria)"
                [mensajeVacio]="mensajeDocAlta"
                (archivosChange)="onArchivosChange($event)"
              ></app-drag-zone-multiple>

              @if (mostrarErrorArchivos) {
                <small class="error">
                  Debés adjuntar al menos un archivo para la solicitud de alta.
                </small>
              }

            </fieldset>
          }

          <!-- ============ FORM BAJA ============ -->
          @if(!esAlta()) {

            <!-- Rol a dar de baja -->
            <fieldset class="form-group">
              <label class="label">Rol a dar de baja</label>

              <select
                class="input"
                formControlName="rolBaja"
                [class.invalido]="formulario.get('rolBaja')?.invalid
                                  && (formulario.get('rolBaja')?.touched 
                                      || formulario.get('rolBaja')?.dirty)">
                <option value="" disabled>Seleccioná el rol que querés dar de baja</option>

                @for (rol of rolesDisponiblesBaja; track rol.valor) {
                  <option [ngValue]="rol.valor">
                    {{ rol.label }}
                  </option>
                }
              </select>

              @if(formulario.get('rolBaja')?.errors?.['required'] 
                  && formulario.get('rolBaja')?.touched) {
                <small class="error">Debés seleccionar un rol.</small>
              }
            </fieldset>
            @if (formulario.get('rolBaja')?.value === 'ROLE_ARQUITECTO') {
              <div class="alerta-baja-arq">
                Al darte de baja como arquitecto, serás desvinculado de todas tus obras.
              </div>
            }

            <fieldset class="form-group">

              <label class="label">Motivo (opcional):</label>

              <textarea
                rows="5"
                class="input"
                formControlName="motivo"
                placeholder="Comentanos por qué querés dejar de tener este rol en la plataforma"
                [class.invalido]="formulario.get('motivo')?.invalid 
                                  && (formulario.get('motivo')?.touched || formulario.get('motivo')?.dirty)">
              </textarea>

              <!-- Contenedor unificado -->
              <div class="fila-contador-error">
                  
                  <div class="mensaje-error">
                    @if(formulario.get('motivo')?.errors?.['maxlength']) {
                      <small class="error-inline">El motivo es demasiado largo (máx. 560 caracteres).</small>
                    } 
                    @else if(formulario.get('motivo')?.errors?.['pattern']) {
                      <small class="error-inline">Caracteres no permitidos.</small>
                    }
                  </div>

                  <div class="contador-abajo">
                    {{ formulario.get('motivo')?.value?.length || 0 }}/560
                  </div>

              </div>

            </fieldset>


        
          }

          <!-- Botones -->
          <div class="acciones">
            <button type="submit" class="btn-primario" [disabled]="formulario.invalid || cargando">
              Enviar solicitud
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<app-mensaje-modal
  [isVisible]="modalVisible"
  [titulo]="modalTitulo"
  [mensaje]="modalMensaje"
  [conIcon]="true"
  [tipo]="modalTipo"
  tipoContenido="texto"
  [mostrarCerrar]="true"
  [mostrarBotonAceptar]="true"
  [mostrarBotonCancelar]="false"
  textoBotonAceptar="Aceptar"
  (aceptar)="onModalAceptar()"
  (cerrado)="onModalCerrado()"
></app-mensaje-modal>
<app-esperando-modal
  [isVisible]="spinerVisible"
></app-esperando-modal>