<fieldset>
    <label for="imagen">{{label}}</label>

    <div id="dropzone"
        role="button"
        tabindex="0"
        (click)="abrirExplorador($event)"
        (keyup.enter)="abrirExplorador($event)"
        (dragover)="permitirSoltar($event)"
        (dragenter)="permitirSoltar($event)">

        <div id="contenedor-img">
            <!-- Preview de IMG -->
            @if (vistaPrevia) {
            <img id="preview" [src]="vistaPrevia" alt="Vista previa"/>
            } @else {
            <div id="dropzone-msg">
                <strong>Arrastre y suelte una imagen aquí<br></strong>
                <span> o haga clic para seleccionar desde su equipo <br></span>
                <small class="formats"> Formatos: JPG, PNG, WEBP</small>
            </div>
            }

            <input 
                #inputArchivo
                id="imagen"
                type="file" 
                accept="image/*" 
                hidden 
                (change)="capturarArchivo($event)"/>

        </div>

        <!-- Boton quitar IMG -->
        @if (vistaPrevia) {
            <div id="botonera-img" (click)="$event.stopPropagation()">
                <button type="button" 
                    class="btn-outline" 
                    (click)="limpiarImagen()">{{labelBoton}}</button>
            </div>
        }
        
    </div>

</fieldset>