<fieldset>
  <label for="imagen">{{ label }}</label>

  <div id="dropzone"
       role="button"
       tabindex="0"
       (click)="abrirExplorador($event)"
       (keyup.enter)="abrirExplorador($event)"
       (dragover)="permitirSoltar($event)"
       (dragenter)="permitirSoltar($event)"
       (drop)="capturarArchivo($event)">

    <div id="contenedor-img">

      <!--MODO MULTIPLE -->
      @if (multiple) {

        @if (imagenesExistentes.length || vistasPrevias.length) {

          <div class="grid-previas">

            <!-- EXISTENTES -->
            @for (url of imagenesExistentes; let i = $index; track i) {
              <div class="item-previa">
                <img [src]="url" alt="Imagen existente {{ i + 1 }}" />
                <button type="button"
                        class="btn-quitar"
                        (click)="quitarExistente(i, $event)">
                        <span id="a" class="material-icons">delete</span>
                      </button>
              </div>
            }

            <!-- NUEVAS -->
            @for (url of vistasPrevias; let i = $index; track i) {
              <div class="item-previa">
                <img [src]="url" alt="Imagen nueva {{ i + 1 }}" />
                <button type="button"
                        class="btn-quitar"
                        (click)="quitarNueva(i, $event)">✕</button>
              </div>
            }

          </div>

        } @else {

          <div id="dropzone-msg">
            <strong>Arrastre y suelte una o varias imágenes aquí<br></strong>
            <span> o haga clic para seleccionar desde su equipo <br></span>
            <small class="formats"> Formatos: JPG, PNG, WEBP</small>
          </div>

        }

      } @else {

        <!-- MODO SINGLE -->
        @if (vistasPrevias.length || imgExistente) {
          <img
            id="preview"
            [src]="vistasPrevias[0] || imgExistente!"
            alt="Vista previa" />
        } @else {
          <div id="dropzone-msg">
            <strong>Arrastre y suelte una imagen aquí<br></strong>
            <span> o haga clic para seleccionar desde su equipo <br></span>
            <small class="formats"> Formatos: JPG, PNG, WEBP</small>
          </div>
        }

      }

      <!-- input real -->
      <input
        #inputArchivo
        id="imagen"
        type="file"
        accept="image/*"
        [attr.multiple]="multiple ? '' : null"
        hidden
        (change)="capturarArchivo($event)" />

    </div>

    <!-- Botón quitar (single) -->
    @if (!multiple && (vistasPrevias.length || imgExistente)) {
      <div id="botonera-img" (click)="$event.stopPropagation()">
        <button type="button"
                class="btn-outline"
                (click)="limpiarImagen($event)">
          {{ labelBoton }}
        </button>
      </div>
    }

    <!-- Botón quitar todas (multi) -->
    @if (multiple && (imagenesExistentes.length || vistasPrevias.length)) {
      <div id="botonera-img" (click)="$event.stopPropagation()">
        <button type="button"
                class="btn-outline"
                (click)="limpiarImagen($event)">
          Quitar todas
        </button>
      </div>
    }

  </div>

</fieldset>

