<div id="contenedor">
    
    <section id="formulario">
        <h3>CAMBIAR CONTRASEÑA</h3>

        <form [formGroup]="passForm" (submit)="enviarFormulario()">

            <!-- NUEVA CONTRASEÑA -->
            <fieldset>
                <label for="nuevaPasss">Nueva Contraseña: </label>

                <div class="contenedor-pass">
                <!-- Campo para ingresar Pass -->
                <input 
                    [type]="mostrarPassword ? 'text' : 'password'"
                    id="nuevaPass" 
                    formControlName="nuevaPass" 
                    placeholder="************"
                    [class.invalido]="passForm.get('nuevaPass')?.invalid && (passForm.get('nuevaPass')?.touched || passForm.get('nuevaPass')?.dirty)"
                    autocomplete="new-password"
                    (keydown.space)="$event.preventDefault()">

                <!-- Boton de Ver Contraseña -->
                <button 
                    type="button" 
                    class="ver-password"
                    (click)="mostrarPassword = !mostrarPassword"
                    tabindex="-1">

                    <!-- Muestra el icono del ojo importado en index.html de Material Disn -->
                    <span class="material-icons">
                    {{ mostrarPassword ? 'visibility' : 'visibility_off' }}
                    </span>

                </button>
                </div>

                @if (passForm.get('nuevaPass')?.errors?.['required'] && passForm.get('nuevaPass')?.touched) {
                    <small>La contraseña es obligatoria.</small>
                }@else if (passForm.get('nuevaPass')?.errors?.['caracterNoPermitido']) {
                    <small>Solo simbolos permitidos (@ . _ ! +) .</small>
                }@else{
                    @if (
                        (passForm.get('nuevaPass')?.errors?.['mayuscula'] ||
                        passForm.get('nuevaPass')?.errors?.['minuscula'] ||
                        passForm.get('nuevaPass')?.errors?.['faltaNumero'] ||
                        passForm.get('nuevaPass')?.errors?.['minlength']) &&
                        passForm.get('nuevaPass')?.touched) {
                        <small>La contraseña debe contener al menos:</small>
                        <small>
                            <ul>
                                <li>1 Mayuscula</li>
                                <li>1 Minuscula</li>
                                <li>1 Numero</li>
                                <li>6 Caracteres</li>
                            </ul>
                        </small>
                    }
                }

            </fieldset>

            <!-- CONFIRMAR CONTRASEÑA -->
            <fieldset>
                <label for="confirmaPass">Repetir contraseña: </label>

                <div class="contenedor-pass">
                <!-- Campo para ingresar Pass -->
                <input 
                    [type]="mostrarConfirmPassword ? 'text' : 'password'"
                    id="confirmaPass" 
                    formControlName="confirmaPass"
                    appAllowedChars
                    placeholder="************"
                    [class.invalido]="passForm.get('confirmaPass')?.invalid && passForm.get('confirmaPass')?.touched"
                    (keydown.space)="$event.preventDefault()">

                <!-- Boton de Ver Contraseña -->
                <button 
                    type="button" 
                    class="ver-password"
                    (click)="mostrarConfirmPassword = !mostrarConfirmPassword"
                    tabindex="-1">

                    <!-- Muestra el icono del ojo importado en index.html de Material Disn -->
                    <span class="material-icons">
                    {{ mostrarConfirmPassword ? 'visibility' : 'visibility_off' }}
                    </span>

                </button>
                </div>

                @if (passForm.get('confirmaPass')?.errors?.['required'] && passForm.get('confirmaPass')?.touched) {
                    <small>La confirmacion de contraseña es obligatoria.</small>
                }@else if (passForm.get('confirmaPass')?.errors?.['iguales'] && passForm.get('confirmaPass')?.dirty) {
                    <!-- Cuando ingreso la contraseña original ya me identifica que no son iguales -->
                    <small>Las contraseñas deben coincidir.</small>
                }

            </fieldset>

            <button id="enviar" type="submit" [disabled]="passForm.invalid">GUARDAR NUEVA CONTRASEÑA</button>

        </form>
    </section>
</div>

