@import "leaflet/dist/leaflet.css";


/* ================== BASE ================== */
:root {
  --fuenteBase: "Segoe UI", Roboto, sans-serif;
  --nav-bg: #222222;       
  --nav-text: #f0f0f0;    
  --nav-icon: #f8f7f7;
  --ojo-pass: #a2a2a2;
  --color-error: #ff6b6b;
  --color-exito: #4ade80;
  --color-habilitado: #1e6e0c;
  --radioMenu: 15px;
}

                  /*================== MODO CLARO ================== */

:root[data-tema="claro"],
:root:not([data-tema]) {

  color-scheme: light;

  /* ================== FONDOS ================== */
  --fondo-pagina: #ffffff;
  --fondo-superficie: #ffffff;
  --fondo-suave: #f8f8f8;
  --colorSecundario: #f0f0f0;
  --colorItem: #f0f4ff;


  /* ================== TEXTO ================== */
  --texto-principal: #222222;
  --texto-secundario: #374151;

    /* ================== BORDES ================== */
  --borde-suave: #d0d0d0;
  --borde-fuerte: #b5b5b5;

  /* ================== COLORES ACCIÓN ================== */
  --colorBoton: #0077b6;
  --colorBotonHover: #005b8d;
  --boton-primario-deshabilitado: #a0c4d9;

  --colorBotonEliminar: #d32424;
  --colorBotonEliminarHover: #a51b1b;

  --color-acento: #00b4d8;

   /* ================== ESTADOS ================== */
  --color-error-suave: #f3d8d8;

  /* ================== SOMBRAS ================== */
  --sombra: rgba(0, 0, 0, 0.15);
  --sombra-fuerte: rgba(0, 0, 0, 0.25); 

  /* ================== SCROLLBAR ================== */
  --color-scrollbar: #cbd5e1;

   /* ================ BOTÓN LIMPIA ================ */
  --boton-secundario-bg: #edeff3;        
  --boton-secundario-bg-hover: #e1e4ea;  
  --boton-secundario-texto: #2e2c2c;

  /* ================== BOTON BUSCAR ================== */
  --texto-boton-buscar: #ffffff; 

  /* =====  BOTÓN QUITAR IMÁGENES ===== */
  --btn-quitar-bg: rgba(0, 0, 0, 0.35);
  --btn-quitar-bg-hover: rgba(0, 0, 0, 0.55);

  /* ================== ICONO FAVORITO ================== */
  --color-contorno-favorito: #928787;
  
}


                  /* ================== MODO OSCURO ================== */

:root[data-tema="oscuro"] {
  color-scheme: dark;

  /* ================== FONDOS ================== */
  --fondo-pagina: #23272d;
  --fondo-superficie: #2f3033;
  --fondo-suave: #1a1d22;
  --colorSecundario: #0d0f12;
  --colorItem: #3b3b3d;

  /* ================== TEXTO ================== */
  --texto-principal: #f1f5f9;
  --texto-secundario: #c7cdd4;

  /* ================== BORDES ================== */
  --borde-suave: #2a2f36;
  --borde-fuerte: #3a414a;

  /* ================== COLORES ACCIÓN ================== */
  --colorBoton: #3995eb;
  --colorBotonHover: #1f8cff;
  --boton-primario-deshabilitado: #3b4650;

  --colorBotonEliminar: #ff6b6b;
  --colorBotonEliminarHover: #ff4a4a;
 
  --color-acento: #8ecaff;

  /* ================== ESTADOS ================== */
  --color-error-suave: rgba(255,107,107,0.16);

  /* ================== SOMBRAS ================== */
  --sombra: rgba(0, 0, 0, 0.55);     
  --sombra-fuerte: rgba(0, 0, 0, 0.75); 

  /* ================== SCROLLBAR ================== */
  --color-scrollbar: #3b424c;

  /* ================== BOTON LIMPIAR ================== */
  --boton-secundario-bg: #3e4448;      
  --boton-secundario-bg-hover: #4a5156;  
  --boton-secundario-texto: #f5f5f5;

  /* ================== BOTON BUSCAR ================== */
  --texto-boton-buscar: #f1f5f9; 

  /* ================== BOTÓN QUITAR IMÁGENES ================== */
  --btn-quitar-bg: rgba(255, 255, 255, 0.32);
  --btn-quitar-bg-hover: rgba(255, 255, 255, 0.54);

  /* ================== ICONO FAVORITO ================== */
  --color-contorno-favorito: #a6b1bb;
}


/* ================== RESET ================== */
* {
  font-family: var(--fuenteBase);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, app-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* ==================  Quitar fondo amarillo del autocompletado ================== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--fondo-pagina) inset !important;
  -webkit-text-fill-color: var(--texto-principal) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
