@if (isVisible) {
    <div class="modal-overlay" (click)="onOverlayClick($event)">
        
    <div class="modal-content" [class]="'modal-' + tipo">
        <div class="modal-header">
            <div class="icon-wrapper" [style.display]="conIcon ? 'block' : 'none'" >
                @switch (tipo) {
                    @case ('success') {
                        <span class="icon">✓</span>
                    }
                    @case ('error') {
                        <span class="icon">!</span>
                    }
                    @case ('warning') {
                        <span class="icon">⚠</span>
                    }
                    @case ('info') {
                        <span class="icon">ℹ</span>
                    }
                }
            </div>

            <h2 class="modal-title">{{ titulo }}</h2>

            @if (mostrarCerrar) {
                <button class="close-button" (click)="cerrar()" type="button">✕</button>
            }
        </div>

        <div class="modal-body">
            <!-- Acepta HTML y Texto comun -->
            @if (tipoContenido === 'texto') {
                <p class="message-text">{{ mensaje }}</p>
            } @else {
                <div class="message-html" [innerHTML]="mensaje"></div>
            }
        </div>

        <div class="modal-footer">
            @if (mostrarBotonAceptar) {
                <button class="btn btn-primary" (click)="onAceptar()" type="button">
                    {{ textoBotonAceptar }}
                </button>
            }
            @if (mostrarBotonCancelar) {
                <button type="button" class="btn btn-secondary" (click)="onCancelar()">
                    {{ textoBotonCancelar }}
                </button>
            }
        </div>
    </div>
    </div>
}