<form [formGroup]="login" (submit)="loguearse()">

  <fieldset>
    <label for="email">Email: </label>
    <input 
      type="text" 
      id="email" 
      formControlName="email" 
      placeholder="email@correo.com"
      [class.invalido]="login.get('email')?.invalid && login.get('email')?.touched"
      autocomplete="email">

    @if (login.get('email')?.errors?.['required'] && login.get('email')?.touched) {
      <small>El mail es obligatorio.</small>
    } @else if (login.get('email')?.errors?.['email'] && login.get('email')?.touched) {
      <small>El email debe seguir el formato ("correo@email.com").</small>
    }
  </fieldset>

  <fieldset>
    <label for="password">Contraseña: </label>
    <input 
      type="password" 
      id="password" 
      formControlName="password" 
      placeholder="************"
      [class.invalido]="login.get('password')?.invalid && login.get('password')?.touched"
      autocomplete="current-password">

    @if (login.get('password')?.errors?.['required'] && login.get('password')?.touched) {
      <small>La contraseña es obligatoria.</small>
    }
  </fieldset>

  <div class="forgot-container">
    <a (click)="recuperarPass()" class="forgot-link">
      ¿Olvidaste la contraseña?
    </a>
  </div>

  <button id="login" type="submit" [disabled]="login.invalid">INGRESAR</button>
</form>

