<div id="global">

  <div id="contenedor-estudios">

    <div id="panel-izq">

      <div id="panel-filtros">
        <h3 class="titulo">Estudios</h3>  
        <form [formGroup]="filtro" (submit)="cargarEstudios()" class="form-filtros">
          
          <!-- NOMBRE -->
          <fieldset class="campo">
            <label for="filtroNombre">Nombre</label>
            <input
              id="filtroNombre"
              type="text"
              formControlName="nombre"
              placeholder="Ej: Estudio Sur Arquitectos"
              [class.invalido]="filtro.get('nombre')?.invalid && filtro.get('nombre')?.touched"
              autocomplete="off"
              (blur)="cargarEstudios()"
              (keyup.enter)="cargarEstudios()">
          </fieldset>

          <div id = "botonera">
            <button id="buscar" type="submit">BUSCAR</button>
            <button id="limpiar" type="button" (click)="limpiarFiltro()">LIMPIAR</button>
          </div>

        </form>

      </div>

      @if (isArquitecto()) {
        <button id="btn-mis-estudios" class="buscar boton-extra" (click)="misEstudios()">
          Mis Estudios
        </button>
      }

    </div>

    <!-- PANEL DERECHO -->
    <div id="panel-der">
      <div id="panel-scroll">
        <div class="grid">
          @for (e of estudios; track e?.id ?? $index) {
            <a class="card" [routerLink]="['/estudios', e.id]">
            <img
              [src]="imagenUrl(e.imagenUrl)"
              (error)="imagenError($event)"
              alt="Imagen del estudio" />

            <div class="card-body">
              <h2>{{ e.nombre }}</h2>
            </div>
            </a>
          }
          @empty {
            <p class="vacio">No hay estudios para mostrar.</p>
          }
        </div>

      </div>

    </div>

  </div>
    
</div>
<app-esperando-modal 
  [isVisible]="spinerVisible" 
/>
<app-mensaje-modal
  [isVisible]="modalVisible"
  [titulo]="modalTitulo"
  [mensaje]="modalMensaje"
  [conIcon]="true"
  [tipo]="modalTipo"
  tipoContenido="texto"
  [mostrarCerrar]="true"
  [mostrarBotonAceptar]="true"
  [mostrarBotonCancelar]="false"
  textoBotonAceptar="Aceptar"
  (aceptar)="onModalAceptar()"
  (cerrado)="onModalCerrado()"
></app-mensaje-modal>